body{
background-color: #FFFFFF;
font-size: 25px;
font-family:chalkboard, sans-serif;}
h1{
    color:#CE1126;
}

h2{
    color:#0038A8;
    font-style: italic;
}
.S2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header img{
    width:300px;
    height:300px;
}