body{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: 20px; 
   background-color: grey;
}
header img{
    margin: 0 auto;
    width: 5%;
}
h1{
    text-transform: uppercase;
}
.goals{
    margin: 3em 0;
    text-align: center;
}
.menu img{ 
    margin: 4em 0;
}
img{
    display: block;
}
header{
    text-align: center;
}
ul{
    list-style: none;
}
header, .menu p {
    text-align: center;
}
.details{
    color:lightblue;
}