body{
    background-color: lightgreen;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
}
    img{
        width: 40%;
    }
    #crime{
        text-align: center;
    }
    .graphic{
        width:20%
        display: block;
    }
    .info{
        text-align: left;
    }
    .intro{
        font-size: 25px;
        color: darkgreen;
    }
    h3{
        font-size: 30px;
        color: magenta;
    }
    h1{
        font-size: 55px;
        color: white;
        style: bold;
    }
    h2{
        color:darkgreen;
        font-size: 30px;
    }
    h1:hover{
        color: mediumpurple;
      }
      a:visited {
        color:mediumpurple;
      }
      a:link {
        color: grey;
      }