body{
    background-color: lightgreen;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 20px;
}
    img{
        width: 60%;
    }
    header{
        margin: 3em 0;
    }
    .graphic{
        width:50%;
        display: block;
        margin: 0 auto;
    }
    .info{
        text-align: left;
    }
    .intro{
        font-size: 25px;
        color: darkgreen;
    }
    h3{
        font-size: 1em;
        font-weight: bold;
        color: magenta;
    }
    h1{
        font-size: 2.75em;
        color: white;
        font-weight: bold;
    }
    nav a:hover{
        color: mediumpurple;
      }
      a:visited {
        color:mediumpurple;
      }
     a:link {
        color: grey;
      }
    .contact{
        font-size: 20px;
    }
    ul{
        list-style: none;
    }
    nav a{
        color:darkgreen;
        font-size: 1.5em;
        text-decoration: none;
        padding: 0 1em;
    }
    nav a:hover{
        color: mediumpurple;
      }
      nav a:visited {
        color:mediumpurple;
      }
      section{
        margin: 5em 0;
      }
      .clip{
         margin: 2em 0;
      }